body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    background-image: url("https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    padding: 0px;
}

.container {
    max-width: 600px;
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/38/16/44/1000_F_238164491_YA8tycIdNvIPrKPZp8HC6ypfflwza6ky.jpg");
    margin: 0 auto;
    text-align: center;
    margin-top:20%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 36px;
    color:aliceblue;
    text-shadow: 10px 10px 10px black;
}

.weather {
    margin-top: 20px;
}
input[type="text"]:hover{
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
}


input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
   
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    border-radius:1px 1px 1px blue;
}
button:hover{
    box-shadow: 1px 1px 1px  white;
}

#weatherData {
    margin-top: 20px;
    font-size: 18px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 10px 10px 10px  black;
}

